# === GLOBAL ===
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.sqlite3
*.pid
*.seed
*.env
*.env.*
*.DS_Store
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/

# === DOCKER ===
**/.docker/
.dockerignore
Dockerfile
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.yml
**/tmp/
**/.cache/
**/__pycache__/

# === PYTHON / DJANGO ===
backend/venv
.env
db.sqlite3
media/
static/
staticfiles/
coverage/
htmlcov/
*.cover
*.py,cover

# DJANGO MIGRATION FILES
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# === VUE / FRONTEND ===
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.vscode

# === SOLIDITY ===
frontend/hardhat.cache/
frontend/artifacts/
frontend/cache/
frontend/deployments/
frontend/typechain/
frontend/typechain-types/
*.sol.ts
*.abi
*.bin
blockchain/node_modules/
blockchain/ignition/

# === POSTGRES ===
pgdata/
postgres-data/
*.dump
*.sql